// --- Filters ---
.hero__filters {
	position: absolute;
	bottom: 0;
	margin-top: auto;
	padding: $filter-padding-top 0 $filter-padding-bottom;
	width: 100%;

	@include breakpoint-min(xs) {
		grid-column: 1/5;
		grid-row: 4/5;
		border-top: 1px solid $color-bg-white;
	}
}

.filters {
	display: flex;
	justify-content: center;

	@include breakpoint-min(lg) {
		justify-content: space-between;
	}
}

.filters__item {
	position: relative;
	display: flex;
	align-items: center;
	margin-right: $base * 15;
	border: none;
	padding: 0;

	@include breakpoint-min(lg) {
		margin-right: 0;
	}
}

.filters__item-rooms {
	display: none;

	@include breakpoint-min(xxs) {
		display: flex;
	}
}

.filters__item-square {
	display: none;

	@include breakpoint-min(xs) {
		display: flex;
	}
}

.filters__item-price {
	display: none;

	@include breakpoint-min(md) {
		display: flex;
	}
}

.filters__item-residence {
	display: none;

	@include breakpoint-min(lg) {
		display: block;
	}
}

.filters__item-title {
	position: absolute;
	top: $base * (-15);
}

.filters__input {
	border: none;
	padding-right: $base * 2.5;
	color: $color-font-primary;
	background-color: transparent;

	&::placeholder {
		color: $color-font-primary;
	}

	&:hover {
		color: $color-bg;

		&::placeholder {
			color: $color-bg;
		}
	}
}

.filters__option {
	display: block;
	padding: 0 $base * 7.5;
	height: $filter-option-height;

	line-height: $filter-option-height;
	text-align: center;
	background-color: $color-bg-white;
	transition: $transition;

	&:first-of-type {
		border-top-left-radius: $base * 3.5;
		border-bottom-left-radius: $base * 3.5;
	}

	&:last-of-type {
		border-top-right-radius: $base * 3.5;
		border-bottom-right-radius: $base * 3.5;
	}

	&:not(:first-of-type) {
		border-left: 1px solid $color-font-secondary;
	}

	&:focus-within,
	&:hover,
	&--active,
	.filters__input:focus + &,
	.filters__input:checked + & {
		color: $color-bg;
		background-color: $color-font-primary;

		input,
		input::placeholder,
		span,
		& ~ svg {
			color: $color-bg;
		}
	}

	&--square {
		padding-right: $base * 10.5;
		padding-left: $base * 8.5;
		min-width: $base * 28.5;
	}
}

// Range-slider

// Remove arrows (input - number)
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

.range-slider {
	position: absolute;
	bottom: -1px;
	width: calc(100% - 17px);
}

.range-slider-label {
	padding-left: $base * 7.5;
	min-width: $base * 67.5;

	span {
		color: $color-font-secondary;
	}

	&:hover {
		.range-slider__input,
		span {
			color: $color-bg;
		}
	}
}

.noUi-target {
	border: none;
	border-radius: 0;
	height: 3px;
	box-shadow: none;
	background: transparent;
}

.noUi-connect {
	background: $color-red;
}

.noUi-handle {
	border: none;
	border-radius: 50%;
	box-shadow: 0 0 8px #ed2426;
	background: $color-red;

	&::before,
	&::after {
		display: none;
	}
}

.noUi-horizontal .noUi-handle {
	top: -9px;
	width: 21px;
	height: 21px;
}

// Select

.filters__select {
	position: relative;

	svg {
		position: absolute;
		top: 50%;
		right: $base * 12;
		width: $base * 6;
		height: $base * 4;
		transform: translateY(-50%);
	}

	select {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		padding-right: $base * 22;
		width: $base * 135;
	}

	option {
		font-weight: 300;
	}
}

// Buttons
.filters__more {
	display: none;

	@include breakpoint-min(xxl) {
		display: flex;
		align-items: center;
		border-color: $color-font-secondary;
		padding: 0 $base * 5;
		padding-left: $base * 9;
		width: $base * 63.5;
		height: $base * 28;

		font-size: $base * 6.5;
		text-align: left;

		svg {
			order: -1;
			margin-right: $base * 7;
			width: $base * 9.5;
			height: $base * 8;
		}

		&:hover,
		&:focus {
			color: $color-bg;
			background-color: $color-font-primary;
		}
	}
}

.filters__show {
	display: none;

	@include breakpoint-min(xxs) {
		display: flex;
		align-items: center;
		justify-content: center;

		border-color: $color-red;
		padding: 0 $base * 5;
		height: $base * 28;
		min-width: $base * 112;

		font-weight: 300;
		letter-spacing: 0.01em;
		background-color: $color-red;

		transition: $transition;

		&:hover,
		&:focus {
			border-color: $color-font-primary;
			color: $color-red;
			background-color: $color-font-primary;
		}
	}
}

// Search
.filters__search {
	display: flex;
	border: none;
	padding: 0;
	width: 100%;
	color: $color-font-primary;

	@include breakpoint-min(xxs) {
		display: none;
	}
}

.filters__search-text,
.filters__search-btn {
	height: 50px;
	border: none;
}

.filters__search-text {
	flex: 1 1 100%;
	outline: none;
	border-radius: 0;
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	padding: 0 20px;
	font-size: 14px;
	color: $color-font-primary;
	background-color: $color-font-secondary;

	&::placeholder {
		color: $color-font-primary;
	}

	&:focus {
		color: $color-bg;

		&::placeholder {
			color: $color-bg;
		}
	}
}

.filters__search-btn {
	border-radius: 0;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	background-color: $color-font-secondary;

	svg {
		width: 20px;
		height: 20px;
		transition: $transition;
	}

	&:active {
		background-color: lighten($color-bg, 80%);

		svg {
			transform: scale(1.5);
		}
	}
}

// --- / Filters ---
