@import "modules/nav";
@import "modules/burger";

.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	min-height: $header-height;
}

.header__container {
	display: flex;
	align-items: center;
	padding-top: $base * 17.5;

	@include breakpoint-min(md) {
		display: grid;
		grid-template-columns: $column-left minmax($base * 30, $base * 187) minmax(0, 1fr) $column-right;
	}
}

//  logo
.logo {
	display: flex;
	align-items: center;
	margin-right: auto;
	max-width: 100%;
	font-weight: 600;
	font-size: 16px;
	color: $color-font-primary;
}

.logo__img {
	display: inline-block;
	margin-right: $base * 3.5;
	border-radius: 50%;
	width: 47px;
	height: 47px;
	box-shadow: -6px 8px 8px rgba(0, 0, 0, 0.1);

	line-height: 47px;
	text-align: center;

	background: radial-gradient(66.89% 66.89% at 59.24% 24.84%, #fec8c1 0%, rgba(229, 106, 89, 0) 100%), #d13233;
}

// Contacts
.header__contacts {
	@include breakpoint-min(lg) {
		padding-top: $base * 2;
	}
}

.header__contacts-phone {
	position: relative;

	display: flex;
	align-items: center;

	font-weight: inherit;
	font-size: $base * 10;
	color: $color-font-primary;

	transition: $transition;

	&:hover {
		color: $color-font-secondary;
	}

	span {
		display: none;

		@include breakpoint-min(sm) {
			display: inline-block;
			margin-right: $base * 20;
		}
	}

	@include breakpoint-min(lg) {
		margin-bottom: $base * 3;
	}
}

.header__contacts-img {
	margin-right: $base * 12;
	width: 36px;
	height: 36px;

	@include breakpoint-min(md) {
		width: $base * 15;
		height: $base * 15;
	}

	@include breakpoint-min(lg) {
		display: none;
	}
}

.header__contacts-time {
	display: none;

	@include breakpoint-min(lg) {
		display: block;
		margin: 0;
		color: $color-font-secondary;
	}
}
