@import "modules/nav";
@import "modules/burger";

.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	min-height: $header-height;
}

.header__container {
	display: grid;
	grid-template-columns: $column-left $base * 187 minmax(0, 1fr) $column-right;
	padding-top: $base * 17.5;
}

//  logo
.logo {
	grid-column: 1/1;
	font-weight: 600;
	color: $color-font-primary;
}

.logo__img {
	display: inline-block;
	margin-right: $base * 3.5;
	border-radius: 50%;
	width: $base * 23.5;
	height: $base * 23.5;
	box-shadow: -6px 8px 8px rgba(0, 0, 0, 0.1);

	line-height: $base * 23.5;
	text-align: center;

	background: radial-gradient(66.89% 66.89% at 59.24% 24.84%, #fec8c1 0%, rgba(229, 106, 89, 0) 100%), #d13233;
}

// Contacts
.header__contacts {
	grid-column: 2/3;
	padding-top: $base * 2;
}

.header__contacts-phone {
	position: relative;
	z-index: 10;

	display: inline-block;
	margin-bottom: $base * 3;

	font-weight: inherit;
	font-size: $base * 10;
	color: $color-font-primary;

	transition: $transition;

	&:hover {
		color: $color-font-secondary;
	}
}

.header__contacts-time {
	margin: 0;
	color: $color-font-secondary;
}
