@import "modules/nav";
@import "modules/burger";

.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	min-height: 75px;
}

.header__container {
	display: flex;
	align-items: center;
	padding-top: 35px;
	padding-bottom: 35px;
}

//  logo
.logo {
	position: absolute;
	top: 35px;

	font-weight: 600;
	color: $color-font-primary;
}

.logo__img {
	display: inline-block;
	margin-right: 7px;
	border-radius: 50%;
	width: 47px;
	height: 47px;
	box-shadow: -6px 8px 8px rgba(0, 0, 0, 0.1);

	line-height: 47px;
	text-align: center;

	background: radial-gradient(66.89% 66.89% at 59.24% 24.84%, #fec8c1 0%, rgba(229, 106, 89, 0) 100%), #d13233;
}
