.hero {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.1);
}

.hero__videos {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.hero__video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.hero__content {
	display: grid;
	grid-template-columns: $column-left $base * 187 minmax(0, 1fr) $column-right;
	grid-template-rows: $header-height $base * 64 1fr $filter-height;
	min-height: 100vh;
}

// --- Modules ---
@import "hero/hero__links";
@import "hero/hero__residences";
@import "hero/hero__arrows";
@import "hero/hero__action";
@import "hero/hero__filters";
// --- / Modules ---
