.hero {
	position: relative;
	overflow: hidden;
	width: 100%;
}

.hero__content {
	display: grid;
	grid-template-columns: $column-left minmax($base * 30, $base * 187) minmax(0, 1fr) $column-right;
	grid-template-rows: $header-height minmax($base * 20, $base * 64) max-content;
	padding-bottom: $filter-height;
	min-height: 100vh;

	@include breakpoint-max(md) {
		grid-template-columns: 0 minmax($base * 30, $base * 187) minmax(0, 1fr) $column-right;
		min-height: $base * 400;
	}

	@include breakpoint-max(xs) {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}
}

// --- Modules ---
@import "hero/hero__links";
@import "hero/hero__residences";
@import "hero/hero__arrows";
@import "hero/hero__action";
// --- / Modules ---
