.nav {
	display: flex;
	justify-content: flex-end;
	grid-column: -1/-2;

	@include breakpoint-min(md) {
		align-items: center;
		align-self: start;
		justify-content: space-between;
	}
}

.nav__list {
	@extend %list;
	display: none;

	@include breakpoint-min(md) {
		display: flex;
		justify-content: space-between;
	}
}

.nav__item {
	margin-right: $base * 10;

	&:last-child {
		margin-right: 0;
	}
}

.nav__link {
	display: inline-block;
	letter-spacing: -0.01em;
	color: $color-font-primary;

	&:hover {
		color: $color-font-secondary;
	}
}
