.nav {
	display: flex;
	align-items: center;
	align-self: start;
	justify-content: space-between;
	grid-column: -1/-2;
	width: 100%;
}

.nav__list {
	@extend %list;

	display: flex;
	justify-content: space-between;
}

.nav__item {
	margin-right: $base * 10;

	&:last-child {
		margin-right: 0;
	}
}

.nav__link {
	display: inline-block;
	letter-spacing: -0.01em;
	color: $color-font-primary;

	&:hover {
		color: $color-font-secondary;
	}
}
