.slider-arrows {
	display: flex;
	margin-right: $base * 15;
	margin-left: auto;
	width: $base * 40;
}

.slider-arrows__item {
	@extend %btn;

	position: relative;
	width: $base * 20;
	height: $base * 20;

	&:hover {
		&::before {
			transform: scale(1);
			// opacity: 1;
			// visibility: visible;
		}
	}

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;

		border-radius: 50%;
		width: 100%;
		height: 100%;

		background-color: $color-font-secondary;
		transform: scale(0);
		transition: $transition;
	}

	svg {
		max-width: 100%;
		max-height: 100%;
	}
}

.slider-arrows__item-arrow {
	position: absolute;
	top: 50%;
	left: 50%;
	width: $base * 12;
	height: $base * 12;
	transform: translate(-50%, -50%);

	&--right {
		transform: translate(-50%, -50%) rotate(180deg);
	}
}
