// === COMMON ===
*,
*::after,
*::before {
	outline-color: $color-red;
}

html,
body {
	height: 100%;
}

html {
	font-size: $base * 5;
	scroll-behavior: smooth;
}

body {
	font-family: "CoreSansC", sans-serif;
	font-weight: 300;
	font-size: $base * 8;
	line-height: $base * 10;
	letter-spacing: 1px;
	color: $color-font-primary;

	background-color: $color-bg;
}

.visually-hidden {
	position: absolute;
	clip-path: inset(100%);
	overflow: hidden;
	margin: -1px;
	border: 1px solid transparent;
	padding: 0;
	width: 1px;
	height: 1px;
	clip: rect(0, 0, 0, 0);
}

.container {
	margin: 0 auto;
	padding: 0 $container-padding;
	max-width: $container-width + $container-padding * 2;
}

.hover-effect {
	position: relative;
	overflow: hidden;

	&::after {
		content: attr(data-hover);
		position: absolute;
		bottom: 0;
		left: 0;

		opacity: 0;

		transform: translateY(100%);
		transition: $transition;
	}

	span {
		display: block;
		transition: $transition;
	}

	&:hover {
		&::after {
			opacity: 1;
			transform: translateY(0);
		}

		span {
			opacity: 0;
			transform: translateY(-100%);
		}
	}
}

.btn {
	@extend %btn;

	border: 1px solid $color-font-primary;
	border-radius: $base * 3.5;
	padding: $base * 10 $base * 11 $base * 8.5;
	font-weight: 400;
	color: $color-font-primary;
}

// === / COMMON ===

// === ANIMATION ===
// === / ANIMATION ===
