// === COMMON ===
html,
body {
	height: 100%;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "CoreSansC", sans-serif;
	font-size: 16px;
	color: $color-font-primary;
	background-color: $color-bg;
}

.visually-hidden {
	position: absolute;
	clip-path: inset(100%);
	overflow: hidden;
	margin: -1px;
	border: 1px solid transparent;
	padding: 0;
	width: 1px;
	height: 1px;
	clip: rect(0, 0, 0, 0);
}

.container {
	margin: 0 auto;
	padding: 0 40px;
	width: 100%;
}
// === / COMMON ===

// === ANIMATION ===
// === / ANIMATION ===
