// === VARIABLES ===

// Font

// Colors
$color-primary: #2d2d44;

// Breakpoints
$breakpoints: (
	xs: 400px,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1400px,
);

$transition: 0.2s;
$bdrs: 3px;

// === / VARIABLES ===
