// === VARIABLES ===

// Font

// Colors
$color-font-primary: #ffffff;
$color-font-secondary: rgba(255, 255, 255, 0.5);
$color-bg: #000000;
$color-bg-white: rgba(255, 255, 255, 0.15);
$color-red: #d90002;

// Breakpoints
$breakpoints: (
	xs: 400px,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1400px,
);

$transition: 0.2s;
$bdrs: 3px;

// === / VARIABLES ===
