// === VARIABLES ===

$base: 2px;

// Grid
$header-height: $base * 38;
$container-width: $base * 800;
$container-padding: $base * 20;
$column-left: $base * 204;
$column-right: $base * 291;
$filter-height: $base * 80;

// Font

// Colors
$color-font-primary: #ffffff;
$color-font-secondary: rgba(255, 255, 255, 0.5);
$color-bg: #000000;
$color-bg-white: rgba(255, 255, 255, 0.15);
$color-red: #d90002;

// Breakpoints
$breakpoints: (
	xs: 400px,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1400px,
);

$transition: 0.2s;
$bdrs: 3px;

// === / VARIABLES ===

// === FUNCTIONS ===

// т.к. р-ры могут быть в разных ед измерения
// сначала получаем множитель без единиц измерения (н-р 16px -> 16)

@function strip-unit($num) {
	@return $num / ($num * 0 + 1);
}

// переводим р-р в rem (при базовом р-ре 16)
@function calcRem($num) {
	@return (strip-unit($num) / 16) * 1rem;
}
// оборачиваем все наши размеры в переменных в эту функцию - получаем р-ры в rem
// теперь при изменении font-size для html - все размеры автоматич пересчитаются

// === / FUNCTIONS ===
