// === FUNCTIONS ===

// т.к. р-ры могут быть в разных ед измерения
// сначала получаем множитель без единиц измерения (н-р 16px -> 16)

@function strip-unit($num) {
	@return $num / ($num * 0 + 1);
}

// переводим р-р в rem (при базовом р-ре 16)
@function calcRem($num) {
	@return (strip-unit($num) / 10) * 1rem;
}
// оборачиваем все наши размеры в переменных в эту функцию - получаем р-ры в rem
// теперь при изменении font-size для html - все размеры автоматич пересчитаются

// === / FUNCTIONS ===

// === VARIABLES ===

// Breakpoints
$breakpoints: (
	xxs: 400px,
	xs: 640px,
	sm: 768px,
	md: 1024px,
	lg: 1366px,
	xl: 1400px,
	xxl: 1600px,
);

$base: calcRem(2px);

// Grid
$header-height: $base * 38;
$container-width: $base * 800;
$container-padding: $base * 20;
$column-left: $base * 204;
$column-right: $base * 291;
$filter-padding-top: $base * 31;
$filter-padding-bottom: $base * 17.5;
$filter-option-height: $base * 28;
$filter-height: $filter-option-height + $filter-padding-top + $filter-padding-bottom;

// Font

// Colors
$color-font-primary: #ffffff;
$color-font-secondary: rgba(255, 255, 255, 0.5);
$color-bg: #000000;
$color-bg-white: rgba(255, 255, 255, 0.15);
$color-red: #d90002;

$transition: 0.2s;
$bdrs: 3px;

// === / VARIABLES ===
