include ../utils/mixins 

section.hero
	h2.visually-hidden Подобрать квартиру своей мечты
	.container
		.hero__content
			include hero/hero__links
			include hero/hero__residences
			include hero/hero__arrows
			include hero/hero__action
					
			


