nav.nav
	ul.nav__list
		li.nav__item 
			a.nav__link.hover-effect(href="#" data-hover="Квартиры")
				span Квартиры
		li.nav__item
			a.nav__link.hover-effect(href="#" data-hover="Ипотека")
				span Ипотека
		li.nav__item
			a.nav__link.hover-effect(href="#" data-hover="Коммерция")
				span Коммерция
		li.nav__item
			a.nav__link.hover-effect(href="#" data-hover="Управляющая компания")
				span Управляющая компания