.slider-arrows 
	button.slider-arrows__item.slider-arrows__prev
		+svg({class: "slider-arrows__item-arrow", name: "arrow-left"}) 
	button.slider-arrows__item.slider-arrows__next
		+svg({class: "slider-arrows__item-arrow slider-arrows__item-arrow--right", name: "arrow-left"})
		svg.slider-arrows__item-ellipse(width="39" height="39" viewBox="0 0 39 39" fill="none" xmlns="http://www.w3.org/2000/svg")
			circle(cx="19.5" cy="19.5" r="19" stroke="currentColor")