.slider-arrows 
	button.slider-arrows__item
		+svg({class: "slider-arrows__item-arrow", name: "arrow-left"}) 
	button.slider-arrows__item 
		+svg({class: "slider-arrows__item-ellipse", name: "ellipse"}) 
		+svg({class: "slider-arrows__item-arrow slider-arrows__item-arrow--right", name: "arrow-left"}) 