section.hero__links
				h3.visually-hidden Дополнительные ссылки
				a.finance-link(href="#" target="_blank")
					span.visually-hidden Дом.рф - финансирование строительства
					//- +svg({name: "finance", class: "finance-link__img"})
				ul.social
					li.social__item
						a.social__link(href="#" target="_blank")
							+svg({name: "fb", class: "social__link-img"})
					li.social__item
						a.social__link(href="#" target="_blank")
							+svg({name: "insta", class: "social__link-img"})
					li.social__item
						a.social__link(href="#" target="_blank")
							+svg({name: "twitter", class: "social__link-img"})
					li.social__item
						a.social__link(href="#" target="_blank")
							+svg({name: "vk", class: "social__link-img"})