section.hero__action 
	h3.visually-hidden Почему именно наши квартиры
	.hero__action-reasons.swiper-container
		.swiper-wrapper
			p.swiper-slide Стильная архитектура и виды из окон будущей квартиры не оставят равнодушных
			p.swiper-slide Большие парковые территории и безопасные дворы созданы для счастливой жизни
	.hero__action-buttons 
		button.btn.hero__action-btn Выбрать квартиру
			+svg({name: "plus"})
		a.btn.hero__action-link(href="#")
			span Купить квартиру онлайн
			+svg({name: "arrow-right"})
		