section.hero__residences
				h3.visually-hidden Жилые комплексы
				ul.hero__residences-list
					+residence({
						name: "Северный парк", 
						img: "residence",
						about: "Жилой комплекс небывалого масштаба с развитой инфраструктурой"
					})
					+residence({
						name: "Ренесанс", 
						img: "residence",
						about: "Жилой комплекс небывалого масштаба с развитой инфраструктурой"
					})
					+residence({
						name: "Станция Столичная", 
						img: "residence",
						about: "Жилой комплекс небывалого масштаба с развитой инфраструктурой"
					})
					+residence({
						name: "Компасс сити", 
						img: "residence",
						about: "Жилой комплекс небывалого масштаба с развитой инфраструктурой"
					})
					+residence({
						name: "Лето", 
						img: "residence",
						about: "Жилой комплекс небывалого масштаба с развитой инфраструктурой"
					})
					+residence({
						name: "Бруклин", 
						img: "residence",
						about: "Жилой комплекс небывалого масштаба с развитой инфраструктурой"
					})
					+residence({
						name: "Сказочный сад", 
						img: "residence",
						about: "Жилой комплекс небывалого масштаба с развитой инфраструктурой"
					})
					+residence({
						name: "Монблан", 
						img: "residence",
						about: "Жилой комплекс небывалого масштаба с развитой инфраструктурой"
					})
					+residence({
						name: "Краски", 
						img: "residence",
						about: "Жилой комплекс небывалого масштаба с развитой инфраструктурой"
					})