section.hero__filters
	h3.visually-hidden Выбрать параметры квартиры
	form(action="#").filters
		//- Rooms
		fieldset.filters__item.filters__item-rooms
			legend.filters__item-title Количество комнат
			input.filters__input.visually-hidden(type="radio" name="room" id="studio" checked)
			label.filters__option.filters__option--square(for="studio") cтудия
			input.filters__input.visually-hidden(type="radio" name="room" value="1" id="room-1")
			label.filters__option.filters__option--square(for="room-1") 1
			input.filters__input.visually-hidden(type="radio" name="room" value="2" id="room-2")
			label.filters__option.filters__option--square(for="room-2") 2
			input.filters__input.visually-hidden(type="radio" name="room" value="3" id="room-3")
			label.filters__option.filters__option--square(for="room-3") 3
			input.filters__input.visually-hidden(type="radio" name="room" value="4" id="room-4")
			label.filters__option.filters__option--square(for="room-4") 4
		//- Square
		fieldset.filters__item.filters__item-square
			legend.filters__item-title Площадь
			.range-slider#range-slider-square
			label.range-slider-label.filters__option
				span от
				input.filters__input(type="number" min="25" max="250" placeholder="32")
				span м
					sup 2
			label.range-slider-label.filters__option
				span от
				input.filters__input(type="number" min="25" max="250" placeholder="186")
				span м
					sup 2
		//- Price
		fieldset.filters__item.filters__item-price
			legend.filters__item-title Стоимость, млн ₽
			.range-slider#range-slider-price
			label.range-slider-label.filters__option
				span от
				input.filters__input(type="number" min="25" max="250" placeholder="1,5")
			label.range-slider-label.filters__option
				span от
				input.filters__input(type="number" min="25" max="250" placeholder="17,5")
		//- Residence
		fieldset.filters__item.filters__item-residence
			legend.filters__item-title Жилой комплекс
			.filters__select
				select.filters__option.filters__input
					option(value="Северный парк") Северный парк
					option(value="Станция Столичная") Станция Столичная
					option(value="Компасс сити") Компасс сити
					option(value="Ренесанс") Ренесанс
					option(value="Краски") Краски
				+svg({name: "arrow-down"})
		//- Search
		fieldset.filters__search 
			input.filters__search-text(type="text" placeholder="Подобрать квартиру") 
			a(href="#").filters__search-btn.btn
				+svg({name:"search"})

		button.filters__more.btn Ещё фильтры
			+svg({name: "filters"})
		a.filters__show.btn(href="#") Показать 120 квартир