extends layout/main

block variables 
	-var title="Life development"

block content
	.content
		.background.swiper-container
			.swiper-wrapper
				+video("video/puppies.mp4")
				+video("video/flowers.mp4")
		include modules/hero
		include modules/filters






