mixin svg(options)
	svg(class = options.class)
		use(xlink:href="images/sprite.svg#" + options.name)


mixin video(src)
	- var src = src

	video.hero__video.swiper-slide(autoplay muted loop preload="auto")
		source(src=src type="video/mp4")

mixin residence(options)
	li.hero__residences-item.residence
		a.residence__name(href="#") #{options.name}
		.residence__about
			.residence__img
				picture
					source(type="image/webp" srcset="images/" + options.img + ".webp 1x," + "images/" + options.img + "@2x.webp 2x")
					img(src="images/" + options.img + ".jpg" srcset="images/" + options.img + " @2x.jpg 2x", alt="Фото жилого комплекса " + options.name)
			article.residence__description
				h4.residence__about-title #{options.name}
				p #{options.about}


