.hero__links {
	grid-row: 3;
}

.finance-link {
	$link-height: $base * 28;

	position: absolute;
	left: 0;

	display: block;
	width: $base * 100;
	height: $link-height;

	background: $color-font-primary url("../images/sprite.svg#finance") no-repeat center;
	background-size: contain;

	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 100%;
		border: $link-height/2 solid $color-font-primary;
		border-right-width: $base * 4;
		border-right-color: transparent;
		border-left-width: $base * 4;
		width: 0;
		height: 0;
	}
}

.social {
	@extend %list;

	margin-top: auto;
	margin-bottom: $base * 20;
	padding-top: $base * 94;
}

.social__item {
	margin-bottom: $base * 15;

	&:last-child {
		margin-bottom: 0;
	}
}

.social__link {
	position: relative;
	display: inline-block;
	width: $base * 10;
	height: $base * 10;
	color: $color-font-primary;

	&:hover,
	&:focus {
		outline: none;

		&::before {
			transform: translate(-50%, -50%) scale(1);
		}
	}

	&::before {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: -1;

		border-radius: 50%;
		width: 200%;
		height: 200%;

		background-color: $color-font-secondary;
		transform: translate(-50%, -50%) scale(0);
		transition: $transition;
	}
}

.social__link-img {
	max-width: 100%;
	max-height: 100%;
}
