.hero__links {
	grid-row: 3;
}

.finance-link {
	$link-height: 55px;

	position: absolute;
	bottom: 25%;
	right: 0;
	display: inline-block;

	transform: translateX(136px);

	svg {
		height: $link-height;
	}

	&::after {
		content: "";
		position: absolute;
		top: 0;
		right: 100%;
		border: $link-height/2 solid $color-font-primary;
		border-right-width: 6px;
		border-left-width: 6px;
		border-left-color: transparent;
		width: 0;
		height: 0;
	}

	@include breakpoint-min(xs) {
		bottom: auto;
		left: 0;
		right: auto;

		transform: translateX(0);

		&::after {
			left: 100%;
			border-right-width: 8px;
			border-right-color: transparent;
			border-left-width: 8px;
			border-left-color: $color-font-primary;
		}
	}
}

.social {
	@extend %list;

	display: none;

	@include breakpoint-min(xs) {
		display: block;
		margin-top: auto;
		margin-bottom: $base * 20;
		padding-top: $base * 94;
	}
}

.social__item {
	margin-bottom: $base * 15;

	&:last-child {
		margin-bottom: 0;
	}
}

.social__link {
	position: relative;
	display: inline-block;
	width: $base * 10;
	height: $base * 10;
	color: $color-font-primary;

	&:hover,
	&:focus {
		outline: none;

		&::before {
			transform: translate(-50%, -50%) scale(1);
		}
	}

	&::before {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: -1;

		border-radius: 50%;
		width: 200%;
		height: 200%;

		background-color: $color-font-secondary;
		transform: translate(-50%, -50%) scale(0);
		transition: $transition;
	}
}

.social__link-img {
	max-width: 100%;
	max-height: 100%;
}
