// --- Residences ---

.hero__residences {
	display: none;

	@include breakpoint-min(md) {
		display: block;
		grid-column: 2/3;
		grid-row: 3/4;
	}
}

.hero__residences-list {
	@extend %list;

	position: relative;

	display: flex;
	flex-wrap: wrap;
	margin-bottom: $base * 10;
	padding-bottom: $base * 165;
}

.hero__residences-item {
	flex: 1 0 60%;
	margin-bottom: $base * 7;

	&:nth-child(2n) {
		flex: 0 1 40%;
	}
}

.residence__name {
	position: relative;
	color: $color-font-secondary;
	transition: $transition;

	&::before {
		content: "";
		position: absolute;
		top: 100%;
		left: 0;

		width: 100%;
		height: 1px;

		background-color: $color-font-secondary;
	}

	&::after {
		@extend %hide;

		content: "";

		position: fixed;
		top: 0;
		left: 0;
		z-index: -1;

		width: 100%;
		height: 100%;

		background-color: rgba(0, 0, 0, 0.5);
		transition: $transition;
	}

	&:hover,
	&:focus {
		color: $color-font-primary;

		&::after {
			opacity: 1;
			visibility: visible;
		}

		& ~ .residence__about {
			opacity: 1;
			visibility: visible;
			transform: translateY(0);
		}
	}
}

.residence__about {
	@extend %hide;

	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;

	transform: translateY(10%);
	transition: $transition;
}

.residence__img {
	margin-bottom: $base * 8;
	width: 100%;
	height: $base * 115.5;

	picture,
	img {
		border-radius: $base * 5;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.residence__description {
	height: $base * 40;
	color: $color-font-secondary;
}

.residence__about-title {
	margin: 0;
	margin-bottom: $base * 5;

	font-weight: 300;
	color: $color-font-primary;
}
// --- / Residences ---
