// --- Filters ---
.hero__filters {
	grid-column: 1/5;
	grid-row: 4/5;
	padding: $base * 17.5 0 $base * 21;
}

.filters {
	display: flex;
	justify-content: space-between;
}

.filters__item {
	position: relative;
	display: flex;
	align-items: center;
	margin-right: $base * 10;
	border: none;
	padding: 0;
}

.filters__item-title {
	position: absolute;
	top: $base * (-15);
}

.filters__input {
	border: none;
	padding-right: 5px;
	color: $color-font-primary;
	background-color: transparent;

	&::placeholder {
		color: $color-font-primary;
	}

	&:hover {
		color: $color-bg;

		&::placeholder {
			color: $color-bg;
		}
	}
}

.filters__option {
	display: block;
	padding: $base * 10.5 $base * 7.5 $base * 9.5;
	text-align: center;
	background-color: $color-bg-white;
	transition: $transition;

	&:first-of-type {
		border-top-left-radius: $base * 3.5;
		border-bottom-left-radius: $base * 3.5;
	}

	&:last-of-type {
		border-top-right-radius: $base * 3.5;
		border-bottom-right-radius: $base * 3.5;
	}

	&:not(:first-of-type) {
		border-left: 1px solid $color-font-secondary;
	}

	&:focus-within,
	&:hover,
	&--active,
	.filters__input:focus + &,
	.filters__input:checked + & {
		color: $color-bg;
		background-color: $color-font-primary;

		input,
		input::placeholder,
		span,
		& ~ svg {
			color: $color-bg;
		}
	}

	&--square {
		padding-right: $base * 10.5;
		padding-left: $base * 8.5;
		min-width: $base * 28.5;
	}
}

// Range-slider

// Remove arrows (input - number)
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

.range-slider {
	position: absolute;
	bottom: -1px;
	width: 100%;
}

.range-slider-label {
	padding-left: $base * 7.5;
	min-width: $base * 67.5;

	span {
		color: $color-font-secondary;
	}

	&:hover {
		.range-slider__input,
		span {
			color: $color-bg;
		}
	}
}

.range-slider__input {
	position: relative;
	margin-left: 50px;

	&::before {
		content: "от";
		position: absolute;
		top: 50%;
		left: -20%;
		width: 20px;
		height: 20px;
		transform: translateY(-50%);
	}
}

.noUi-target {
	border: none;
	border-radius: 0;
	height: 3px;
	box-shadow: none;
	background: transparent;
}

.noUi-connect {
	background: $color-red;
}

.noUi-handle {
	border: none;
	border-radius: 50%;
	box-shadow: 0 0 8px #ed2426;
	background: $color-red;

	&::before,
	&::after {
		display: none;
	}
}

.noUi-horizontal .noUi-handle {
	top: -9px;
	width: $base * 10.5;
	height: $base * 10.5;
}

// Select
.filters__select {
	position: relative;

	svg {
		position: absolute;
		top: 50%;
		right: $base * 12;
		width: $base * 6;
		height: $base * 4;
		transform: translateY(-50%);
	}

	select {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		padding-right: $base * 22;
		width: $base * 135;
	}

	option {
		background-color: transparent;
		border-radius: 10px;
		font-size: 10px;
		max-width: 100%;
	}
}

// Buttons
.filters__more {
	display: flex;
	align-items: center;
	margin-right: $base * 10;
	border-color: $color-font-secondary;
	padding: 0 $base * 5;
	padding-left: $base * 9;
	width: $base * 63.5;
	height: $base * 28;
	font-size: $base * 6.5;
	text-align: left;

	svg {
		order: -1;
		margin-right: $base * 7;
		width: $base * 9.5;
		height: $base * 8;
	}

	&:hover,
	&:focus {
		color: $color-bg;
		background-color: $color-font-primary;
	}
}

.filters__show {
	display: flex;
	align-items: center;
	justify-content: center;

	border-color: $color-red;
	padding: 0 $base * 5;
	height: $base * 28;
	min-width: $base * 112;

	font-weight: 300;
	letter-spacing: 0.01em;
	background-color: $color-red;

	transition: $transition;

	&:hover,
	&:focus {
		border-color: $color-font-primary;
		color: $color-red;
		background-color: $color-font-primary;
	}
}

// --- / Filters ---
