//--- Action ---

.hero__action {
	grid-column: 4/5;
	grid-row: 3/4;
}

.hero__action-reasons {
	margin-bottom: $base * 15;
	font-size: $base * 20;
	line-height: $base * 23.5;
	letter-spacing: -0.02em;

	p {
		margin: 0;
	}
}

.btn.hero__action-btn {
	position: relative;
	display: inline-flex;
	align-items: center;
	transition: $transition;

	svg {
		order: -1;
		margin-right: $base * 6;
		width: $base * 5.5;
		height: $base * 5.5;
	}

	&:hover {
		box-shadow: inset 0 0 0 2em $color-font-primary;
		color: $color-bg;
	}
}

.btn.hero__action-link {
	display: inline-flex;
	border-color: transparent;

	span {
		margin-right: $base * 3;
		line-height: $base * 8;
	}

	svg {
		align-self: flex-end;
		width: $base * 4.5;
		height: $base * 7;
	}

	&:hover {
		color: $color-font-secondary;
	}
}
// --- / Action ---
