// --- Slider arrows ---
.hero__arrows {
	display: none;

	@include breakpoint-min(lg) {
		display: block;
		grid-column: 3/4;
		grid-row: 3;
	}
}

@import "../slider-arrows";

// --- / Slider arrows ---
