
block variables

mixin svg(name, class)
	svg.#{class}
		use(xlink:href="images/sprite.svg#" + name)

doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="keywords", content="Etton, test task")
		meta(name="description", content="Etton test task - Gumerova Elena")
		meta(property="og:image", content="images/logo.png")

		title #{title}
		link(rel="stylesheet", href="css/style.min.css")

	body 
		include ../modules/header
		
		main
			h1.visually-hidden #{title}
			
			.content
				block content

		include ../modules/footer

		script(src="js/script.min.js")